apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opencode

resources:
  - namespace.yaml
  - rbac.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: opencode
